{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Login</h2>

    {% if form.errors %}
        <div class="messages">
            <p class="error-message">Por favor, corrija os erros abaixo:</p>
            <ul>
                {% for field, errors in form.errors.items %}
                    {% if field != '__all__' %} <!-- Evita duplicação de mensagens gerais -->
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {% if form.non_field_errors %}
        <div class="messages">
            <p class="error-message">{{ form.non_field_errors|first }}</p> <!-- Exibe apenas a primeira mensagem de erro não específica -->
        </div>
    {% endif %}

    <form action="{% url 'noticias:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary">Entrar</button>
            <a href="{% url 'noticias:registro' %}" class="btn btn-secondary">Criar Conta</a>
        </div>
    </form>
</div>
{% endblock content %}
