{% extends 'base.html' %}

{% block content %}

<article class="noticia-detalhe">
    <header>
        <h1>{{ noticia.titulo }}</h1>
        <p class="data-publicacao">
            Publicado em {{ noticia.data_postagem|date:"d 'de' F 'de' Y" }} — {{ noticia.data_postagem|timesince }} atrás
        </p>
    </header>

    <section class="imagem-noticia">
        <img src="{{ noticia.noticia_url|default:'https://via.placeholder.com/150' }}" alt="Imagem da Notícia: {{ noticia.titulo }}">
    </section>

    <section class="conteudo-noticia">
        <p>{{ noticia.conteudo|safe }}</p>
    </section>

    <footer class="categorias-noticia">
        <p><strong>Categorias:</strong>
            {% for categoria in noticia.categorias.all %}
                <span class="categoria">{{ categoria.nome }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </footer>
</article>

{% endblock content %}
