{% extends 'base.html' %}

{% block content %}
<div class="header-noticias">
    <h2>Últimas Notícias</h2>
    <div class="header-actions">
        <a href="{% url 'noticias:criar' %}" class="botao-criar">Criar Nova Notícia</a>
        <a href="{% url 'noticias:buscar' %}" class="botao-busca">Buscar Notícias</a>
    </div>
</div>

<div class="container-noticias">
    {% if lista_noticias %}
    <section class="lista-de-cards">
      {% for noticia in lista_noticias %}
      <article class="card">
        <a href="{% url 'noticias:detalhe' noticia.id %}">
          <img src="{{ noticia.noticia_url|default:'https://via.placeholder.com/150' }}" alt="Imagem da Notícia: {{ noticia.titulo }}" />
        </a>
        <div class="conteudo-card">
          <a href="{% url 'noticias:detalhe' noticia.id %}">
            <h3>{{ noticia.titulo }}</h3>
          </a>
          <p class="resumo">{{ noticia.resumo }}</p> <!-- Exibe o resumo da notícia -->
          <p class="data-publicacao">
            Publicado em {{ noticia.data_postagem|date:"d/m/Y" }} — {{ noticia.data_postagem|timesince }} atrás
          </p>
          <div class="categorias">
            {% for categoria in noticia.categorias.all|slice:":3" %}
              <span class="categoria">{{ categoria.nome }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>

          <!-- Links para editar e excluir -->
          <div class="noticia-actions">
            <a href="{% url 'noticias:atualizar' noticia.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'noticias:excluir' noticia.id %}" class="btn btn-danger">Excluir</a>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
    {% else %}
    <p>Nenhuma notícia foi encontrada.</p>
    {% endif %}
</div>
{% endblock content %}
